$base-color: #ffffff;
$text-color: #371f56;
$icon-color: #371f56;
$highlight-color: #cc3466;
$notification-color: #f8bd00;
$button-color: #371f56;

$menu-submenu-text: #ffffff;
$menu-submenu-focus-text: #ffffff;
$menu-submenu-background: #cc3466;

@import "../_admin.scss";
